/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.vscode

/backend/node_modules
/backend/dist
/backend/.env

/backends/auth-service/node_modules
/backends/auth-service/dist
/backends/auth-service/.env
/backends/auth-service/service-account.json


/backends/product-service/node_modules
/backends/product-service/dist
/backends/product-service/.env


/jorge
minikube-linux-amd64