<div class="container mt-5">
  <h1 class="text-center mb-4">Preguntas Frecuentes</h1>

  <!-- Pregunta 1 -->
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn" type="button">
          ¿Cómo puedo registrar una cuenta en CiberVideoGame?
        </button>
      </h5>
    </div>
    <div class="collapse show">
      <div class="card-body">
        Para registrarte en CiberVideoGame, simplemente ve a la página de registro y completa el formulario con tu información personal y método de pago preferido. Una vez completado, recibirás un correo electrónico de confirmación para activar tu cuenta.
      </div>
    </div>
  </div>

  <!-- Pregunta 2 -->
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn">
          ¿Cómo puedo realizar un pedido?
        </button>
      </h5>
    </div>
    <div  class="collapse show">
      <div class="card-body">
        Para realizar un pedido en CiberVideoGame, primero asegúrate de haber iniciado sesión en tu cuenta. Luego, navega por la tienda y añade los productos que desees al carrito de compras. Una vez que estés listo, ve al carrito y sigue las instrucciones para completar tu pedido.
      </div>
    </div>
  </div>

  <!-- Pregunta 3 -->
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn">
          ¿Qué métodos de pago acepta CiberVideoGame?
        </button>
      </h5>
    </div>
    <div id="pregunta3" class="collapse show">
      <div class="card-body">
        En CiberVideoGame aceptamos pagos con tarjeta de crédito/débito, pago contra entrega y transferencia bancaria. Puedes elegir el método que más te convenga al momento de realizar tu compra.
      </div>
    </div>
  </div>

  <!-- Pregunta 4 -->
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn">
          ¿Cómo puedo contactar al servicio de atención al cliente?
        </button>
      </h5>
    </div>
    <div id="pregunta4" class="collapse show">
      <div class="card-body">
        Puedes contactar a nuestro servicio de atención al cliente llamando al número XXX-XXX-XXXX o enviando un correo electrónico a cibervideogame  gmail.com Estamos disponibles para ayudarte de lunes a viernes de 9:00 a.m. a 5:00 p.m.
      </div>
    </div>
  </div>

  <!-- Pregunta 5 -->
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn">
          ¿Cómo puedo devolver un producto?
        </button>
      </h5>
    </div>
    <div id="pregunta5" class="collapse show">
      <div class="card-body">
        Si necesitas devolver un producto, por favor contáctanos dentro de los 30 días posteriores a la recepción del mismo. Nuestro equipo de atención al cliente te proporcionará instrucciones detalladas sobre cómo proceder con la devolución.
      </div>
    </div>
  </div>

</div>
