<div class="container">
  <div class="row mt-5">
    <div class="col-lg-10">
      <h1>Mis Métodos de Pago</h1>
    </div>
    <div class="col-lg">
      <div class="d-grid gap-2">
        <button id="nuevoMetodoPago" class="btn btn-sm btn-primary" (click)="nuevoMetodoPago()">Nuevo Método de Pago</button>
      </div>
    </div>
  </div>
  <hr>
  <app-loading *ngIf="loading"></app-loading>
  <table class="table" *ngIf="!loading">
    <thead class="table-dark">
      <tr>
        <th>Tipo de Método de Pago</th>
        <th>Detalles</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let metodo of metodosPago">
        <td>{{metodo.tipo_metodo_pago}}</td>
        <td>{{metodo.detalles}}</td>
        <td>
          <button [id]="metodo.numero_tarjeta" class="btn btn-danger btn-sm" ngbTooltip="Eliminar" (click)="eliminarMetodoPago(metodo.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>