<div class="container h-100 mt-5">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 rounded-3 bg-light">
      <div class="p-3" *ngIf="!loading">
        <h3>Reestablecer Contraseña</h3>
        <form [formGroup]="setPasswordForm">  
          <div class="row mt-2">
            <div class="col-lg">
              <label class="form-label">Nueva Contraseña</label>
              <input type="password" class="form-control" [ngClass]="{'is-invalid': notValidPassword}" formControlName="password">
              <div class="invalid-feedback">
                Contraseña debe tener 1 minuscula, 1 mayuscula, 1 numero, 1 caracter especial y al menos 8 caracteres.
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-lg">
              <label class="form-label">Repetir Contraseña</label>
              <input type="password" class="form-control" [ngClass]="{'is-invalid': notValidRepeatPassowrd}" formControlName="repeatPassword">
              <div class="invalid-feedback">
                Contraseña debe ser exactamente igual.
              </div>
            </div>
          </div>
          <div class="alert alert-danger mt-2" *ngIf="showAlert">
            {{ alertMessage }}
          </div>
          <div class="d-flex justify-content-between mt-2">
            <a class="text-primary" [routerLink]="['/auth/login']">Volver a Login</a>
            <div class="d-flex flex-column">
              <button type="button" class="btn btn-primary" [disabled]="setPasswordForm.invalid" (click)="reestablecer()">Reestablecer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
