<div class="container mt-5">
  <div class="row">
    <div class="col-lg-9">
      <h1>Ofertas</h1>
    </div>
    <div class="col-lg">
      <div class="d-grid gap-2">
        <button class="btn btn-sm btn-primary" (click)="crearOferta()">Nueva Oferta</button>
      </div>
    </div>
    <div class="col-lg">
      <div class="d-grid gap-2">
        <button class="btn btn-sm btn-secondary" (click)="atras()">Atras</button>
      </div>
    </div>
  </div>
  <hr>

  <app-loading *ngIf="loading"></app-loading>

  <table class="table mt-3" *ngIf="!loading">
    <thead class="table-dark">
      <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Porcentaje</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Expiración</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let oferta of ofertas">
        <td>{{oferta.nombre}}</td>
        <td>{{oferta.descripcion}}</td>
        <td>{{oferta.descuento/100 | percent}}</td>
        <td>{{oferta.inicio | date : 'shortDate'}}</td>
        <td>{{oferta.fin | date : 'shortDate'}}</td>
        <td>
          <span class="badge" [ngClass]="{'text-bg-success': oferta.activa === 1, 'text-bg-danger': oferta.activa === 0}">
            {{oferta.activa === 1 ? 'ACTIVA' : 'INACTIVA'}}
          </span>
        </td>
        <td>
          
          <button class="btn btn-secondary mx-3" ngbTooltip="Editar" (click)="editarOferta(oferta)"><i class="bi bi-pencil-square"></i></button>
          <!-- <button class="btn btn-sm btn-danger" ngbTooltip="Cancelar Oferta" (click)="cancelarOferta(oferta)" *ngIf="oferta.activa === 1">
            <i class="bi bi-trash"></i>
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>